.navbar{
    display: flex;
    
    margin: 50px 0 0 0;
}
.nome {
    margin: 0 0 0 5%;
}
.navbar-content{
    display: flex;
    flex: 1;
    justify-content: right;
    margin: 0 50px 0 0;

}
.navbar-content-children {
    padding: 0 100px 0 0;
}
.footer{
    display: flex;
    justify-content: center;
    margin: 0 0 0 600px;
}